@*@{ 
    ViewData["Title"] = "Home";
}*@
    

<section class="jumbotron text-center" style="background-color: #c29591">
    <div class="container">
        <h1>Welcome to Book Store</h1>
        <p class="lead text-muted">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>


<div class="py-5 bg-light bg">
    <div class="container">
        @*@await Component.InvokeAsync("TopBooks", new { count = 3 })*@
        <vc:top-books count="3"></vc:top-books>
        
    </div>
</div>













